.about-us {
  position: relative;
  min-height: 320px;
  padding-right: 145px;
  padding-left: 250px;
  padding-bottom: 120px;
  padding-top: 60px;
  max-width: 1220px;

  @media (max-width: $mobile-width) {
    padding-right: 11px;
    padding-bottom: 55px;
    padding-left: 20px;

    &::before {
      content: none;
    }
  }

  @media (max-width: $tablet-width) {
    padding-left: 225px;
    padding-top: 25px;
    padding-bottom: 80px;
  }
}

.about-us::after {
  @media (min-width: $tablet-width + 1px) {
    content: "";
    position: absolute;
    top: 90px;
    width: 150px;
    left: 5px;
    height: 320px;
    background-image: url("../img/bg-about-us-2022-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: auto;
  }
}

.about-us__button {
  width: 180px;
  padding-top: 14px;
  padding-bottom: 13px;
  border: 1px solid #00b2ff;
  border-radius: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 3px;
  margin-top: 20px;

  color: $baby-blue;
  border-color: $baby-blue;

  @media (max-width: $mobile-width) {
    width: 160px;
    height: 35px;
    padding-top: 10px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 23px;
    margin-top: -2px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 25px;
  }
}

.about-us::before {
  @media (max-width: $tablet-width) {
    width: 320px;
    height: 150px;
    padding-top: 15px;
    padding-bottom: 310px;
    content: "";
    position: absolute;
    top: 45px;
    left: 50px;
    background-image: url("../img/bg-about-us-2022-tablet@1x.png");
    background-repeat: no-repeat;
  }
}

.about-us__header {
  font-family: $roboto-condensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: -2px;

  @media (max-width: $tablet-width) {
    margin-top: 15px;
  }

  @media (max-width: $mobile-width) {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 10px;
  }
}

.about-us__text {
  padding-left: 3px;

  &:last-of-type {
    margin-bottom: 28px;
  }

  @media (max-width: $tablet-width) {
    width: 495px;
    margin-top: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.4%;
  }
}

.about-us__text--top {
  margin-bottom: -1px;

  @media (max-width: $mobile-width) {
    margin-bottom: -12px;
    padding-right: 2px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
  }
}

.about-us__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-us__text--hidden {
  display: none;
}

.about-us__text--show {
  display: block;
  transition: all 1s ease;
}

.about-us__hidden-mobile {
  display: block;

  @media (max-width: $mobile-width) {
    display: none;
  }
}
