.ask-us {
  background-color: $baby-blue;
  overflow: hidden;
  position: relative;
  min-height: 840px;

  @media (max-width: $tablet-width) {
    min-height: auto;
  }
}

.ask-us::after {
  @media (min-width: $tablet-width + 1px) {
    content: "";
    position: absolute;
    left: -445px;
    top: -322px;
    width: 1310px;
    height: 100%;
    background: rgba(4, 24, 39, 0.5);
    transform: rotate(-41deg);
    z-index: 1;
  }
}

.ask-us::before {
  @media (min-width: $tablet-width + 1px) {
    content: url("../img/bg-ask-us-airplane-desktop@1x.png");
    position: absolute;
    left: calc(50% - 610px);
    top: calc(25% + 38px);
    z-index: 2;
  }
}

.ask-us__wrapper {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1239px;
}

.ask-us__wrapper-column {
  max-width: 645px;
  padding-left: 36px;
  z-index: 3;
  padding-top: 160px;
  padding-right: 28px;
}

.ask-us__header {
  font-family: $roboto-condensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $white;
}

.ask-us__btn-wrapper {
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.ask-us__header-desc {
  font-weight: 400;
  display: block;
  margin-bottom: 37px;
  padding-left: 4px;
  color: $white;
}

.ask-us__form {
  input[type="text"],
  input[type="tel"],
  textarea {
    flex-grow: 1;
    padding-top: 13px;
    padding-right: 16px;
    padding-bottom: 17px;
    padding-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  textarea {
    height: 155px;
    width: 100%;
    resize: none;
    padding-top: 18px;
    padding-left: 20px;
  }

  button {
    font-family: "Roboto Condensed";
    flex-grow: 1;
    min-width: 265px;
    height: 45px;
    padding-top: 17px;
    padding-bottom: 14px;
    letter-spacing: 0.7px;
    color: $white;
    text-transform: uppercase;
    background: #041427;
    border-radius: 3px;
    margin-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-right: 35px;
    text-transform: uppercase;

    @media (max-width: $mobile-width) {
      width: 100%;
      margin-left: 0;
    }
  }

  .form__checkbox {
    line-height: 16px;
    flex-grow: 1;
    width: 260px;
    padding-top: 28px;
    padding-left: 45px;

    @media (max-width: $tablet-width) {
      padding-top: 20px;
      padding-left: 70px;
      width: 350px;
    }
  }
}

@media (max-width: $tablet-width) {
  .ask-us {
    background-image: none;
  }

  .ask-us__wrapper {
    justify-content: center;
  }

  .ask-us__wrapper-column {
    max-height: 580px;
    max-width: 700px;
    padding-top: 35px;
    padding-bottom: 124px;
    padding-left: 15px;
  }

  .ask-us__header {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
  }

  .ask-us__header-desc {
    margin-bottom: 25px;
  }

  .ask-us__form {
    input[type="text"],
    input[type="tel"],
    textarea {
      flex-direction: column;
      flex-grow: 1;
      max-width: 320px;
      margin-bottom: 20px;
      padding-bottom: 18px;
      height: 55px;
    }

    input[type="text"] {
      margin-right: 30px;
    }

    textarea {
      max-width: 670px;
      padding-top: 25px;
      padding-left: 15px;
      height: 155px;
    }
  }
}

@media (max-width: $mobile-width) {
  .ask-us__wrapper {
    flex-direction: column;
    padding: 0;
  }

  .ask-us__wrapper-column {
    min-height: 750px;
    min-width: 320px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
  }

  .ask-us__header {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 140.62%;
    margin-bottom: 5px;
    margin-top: 15px;
    max-width: 270px;
  }

  .ask-us__header-desc {
    line-height: 22px;
    margin-bottom: 30px;
    padding-left: 0;
    max-width: 270px;
  }

  .ask-us__form {
    flex-direction: column;
    padding-left: 0;

    button {
      width: 90%;
      height: 45px;
    }

    input[type="text"],
    input[type="tel"],
    textarea {
      margin-right: 0;
      width: 97%;
      max-width: none;
    }

    input[type="text"] {
      margin-bottom: 10px;
    }

    input[type="tel"] {
      padding-top: 20px;
    }

    textarea {
      height: 180px;
      width: 97%;
      margin-bottom: 15px;
      padding-top: 22px;
    }

    .form__checkbox {
      margin-top: 5px;
      padding-left: 30px;
      width: 250px;
    }
  }
}

.ask-us__button {
  border: none;
}
