.form-modal {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  @media (max-width: $tablet-width) {
    gap: unset;
  }

  input[type="text"],
  input[type="tel"],
  textarea {
    appearance: none;

    color: $white;
    border: 1px solid rgba($color: $white, $alpha: 0.01);
    outline: none;
    background: rgba(4, 20, 39, 0.15);
    border-radius: 3px;

    &::placeholder {
      color: $white;
    }

    &:hover,
    &:focus {
      border: 1px solid $white;
    }
  }

  button {
    cursor: pointer;
  }
}
