.nav__heading-block {
  margin-bottom: 15px;
  padding-left: 2px;

  @media (max-width: $mobile-width) {
    border-top: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.nav__header {
  font-family: $roboto-condensed;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  letter-spacing: 0.76px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.nav__toggle {
  display: none;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding: 5px;
  row-gap: 5px;
}

.nav__item {
  min-width: 135px;
  margin-right: 15px;
  list-style: none;
}

.nav__link {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.7);

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width) {
  .nav__heading-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-top: 24px;
    padding-right: 13px;
    padding-bottom: 23px;
    padding-left: 15px;
  }

  .nav__list {
    padding-right: 15px;
    padding-bottom: 26px;
    padding-left: 15px;
  }
}
