.page-footer {
  background-color: #041827;

  @media (max-width: $mobile-width) {
    padding-bottom: 35px;
  }
}

.page-footer__wrapper {
  display: flex;
  padding: 0 20px;
  padding-top: 55px;
  max-width: 1320px;
  min-height: 280px;
}

.page-footer__base {
  width: 355px;
  margin-left: 28px;
  margin-right: 20px;
}

.page-footer__logo-link {
  margin-bottom: 35px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__social {
  column-gap: 20px;
  list-style: none;
  display: flex;
  margin-left: 15px;
}

.page-footer__nav {
  padding: 0;
  margin: 9px 0 0;
  max-width: 481px;
  width: 100%;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

@media (max-width: $tablet-width) {
  .page-footer__wrapper {
    flex-wrap: wrap;
    padding-top: 19px;
    padding-right: 0;
    padding-bottom: 21px;
    padding-left: 0;
    height: 465px;
  }

  .page-footer__base {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-right: 24px;
    padding-left: 25px;
    padding-top: 35px;
  }

  .page-footer__logo-link {
    margin-bottom: 0;
  }

  .page-footer__social {
    margin-top: 10px;
    padding-right: 15px;
  }

  .page-footer__nav {
    width: 50%;
    min-width: 235px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
  }

  .page-footer__contacts {
    align-items: flex-start;
    padding-bottom: 15px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__wrapper {
    height: 100%;
    padding-top: 36px;
    padding-bottom: 0;
  }

  .page-footer__base {
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  .page-footer__logo-link {
    margin-left: -10px;
  }

  .page-footer__nav {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(248, 253, 255, 0.7);

  }

  .page-footer__contacts {
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}
