html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  font-family: "PT Mono", "Courier New", monospace;
  min-width: 320px;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  user-select: none;
}
